<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="custom-header">
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">


    <link href="css/cbox.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/quiz}" title="Quiz">Quiz</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        </ul>
        <form class="form-inline my-2 my-lg-0">

            <ul class="nav navbar-nav navbar-right">
                <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/questions}" class="btn btn-info float-lg-left m-2">Questions</a>
                <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" class="btn btn-info float-lg-left m-2">Users</a>
                </li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-danger m-2">LOGOUT</a></li>
                <li th><a sec:authorize="isAnonymous()" th:href="@{/login}" role="button"
                          class="btn btn-primary m-2">Login</a></li>

            </ul>
        </form>
    </div>
</nav>
</body>
<div>
</div>
</html>
