<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Add Question</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="">
    <div class="form-group col-md-6">
        <h1><span>Create New Question</span></h1>
        <form id="newQuestion" th:action="${'/quiz/'+quizId+'/questions/create'}" th:object="${question}"
              method="post">
            <div class="form-group">
                <label for="question">Question</label>
                <i id="creator-error-info"></i>
                <textarea th:field="*{question}" class="form-control" id="name"
                          placeholder="enter question's text"></textarea>
                <label th:if="${#fields.hasErrors('question')}" th:errors="*{question}"
                       class="validation-message text-warning"></label>
            </div>
            <div class="form-group col-md-6">
                <div class="form-row">
                    <button type="submit" class="btn btn-primary mr-3">
                        Create Question
                    </button>
                </div>
            </div>
        </form>
        <div th:fragment="listOfQuestions" th:if="${not #lists.isEmpty(questions)}">

            <table class="table table-dark table-hover col-sm-6">
                <thead>
                <tr>
                    <th scope="col">Question Text</th>
                    <th scope="col">Correct Answers</th>
                    <th scope="col">Takes</th>
                    <th scope="col">Percentage</th>
                    <th scope="col" class="float-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question:${questions}">
                    <td th:text="${question.question}">Text</td>
                    <td th:text="${question.correctlyAnsweredCounter}">Correct Answers</td>
                    <td th:text="${question.takes}">Takes</td>
                    <td th:text="${question.percentage}">Percentage</td>
                    <td th:if="${not #lists.isEmpty(question.answers)}">
                        <table class=" table-primary table-hover col-sm-6">
                            <thead>
                            <tr>
                                <th scope="col">Answer Text</th>
                                <th scope="col">Correct</th>
                                <th scope="col">Correct Answers</th>
                                <th scope="col">Takes</th>
                                <th scope="col">Percentage</th>
                                <th scope="col" class="float-lg-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="answer:${question.answers}">
                                <td th:text="${answer.answer}">Text</td>
                                <td th:text="${answer.correct}">Correct</td>
                                <td th:text="${answer.correctlyAnsweredCounter}">Correct Answers</td>
                                <td th:text="${answer.takes}">Takes</td>
                                <td th:text="${answer.percentage}">Percentage</td>
                                <td><a class="btn btn-primary float-lg-right"
                                       th:href="${'/answers/'+answer.id+'/edit'}">Edit</a></td>
                                <td>
                                    <form th:action="${'/answers/'+answer.id+'/delete'}" th:object="${answer}"
                                          method="post">
                                        <div class="form-group col-md-6">
                                            <div class="form-row">
                                                <button type="submit" class="btn btn-danger mr-3">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><a class="btn btn-primary float-lg-right"
                           th:href="${'/questions/'+question.id+'/answers/new'}">Add Answer</a></td>
                    <td><a class="btn btn-secondary float-lg-right"
                           th:href="${'/questions/'+question.id+'/edit'}">Edit</a></td>
                    <td class="float-lg-right">
                        <form id="deleteQuestion" th:action="${'/questions/'+question.id+'/delete'}"
                              th:object="${question}"
                              method="post">
                            <div class="form-group col-md-6">
                                <div class="form-row">
                                    <button type="submit" class="btn btn-danger mr-3">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>

                </tr>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group col-md-6">
        <a class="btn btn-info mr-3" th:href="@{/quiz}">Back</a>
    </div>
</div>
</body>
</html>