<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>QUIZ CRUD</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Quiz options</div>
                <div class="card-body">
                    <div class="center-block">
                        <h1><span> Create Quiz</span></h1>
                        <form id="newQuiz" th:action="@{/quiz/create}" th:object="${quiz}"
                              method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <i id="creator-error-info"></i>
                                <input type="text" th:field="*{name}" class="form-control" id="name"
                                       placeholder="enter quiz name">
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="validation-message text-warning"></label>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <button type="submit" class="btn btn-primary mr-3">
                                        Create Quiz
                                    </button>
                                    <td><a class="btn btn-info mr-3" th:href="@{/quiz}">Back</a></td>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>