<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Add Answer</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container">
    <div class="form-group">
        <h1><span>Create New Answer</span></h1>
        <form id="newQuestion" th:action="${'/questions/'+questionId+'/answers/create'}" th:object="${answer}"
              method="post">
            <div class="form-group">
                <label for="answer">Answer</label>
                <i id="creator-error-info"></i>
                <input type="text" th:field="*{answer}" class="form-control" id="answer"
                       placeholder="enter question's text">
                <label th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"
                       class="validation-message text-warning"></label>
            </div>
            <div class="form-group">
                <label for="correct">Is correct</label>
                <input type="checkbox" th:field="*{correct}" class="form-control" id="correct">
            </div>
            <div class="form-group form-row">
                <div class="">
                    <button type="submit" class="btn btn-primary mr-3">
                        Add Answer
                    </button>
                </div>
                <div class="">
                    <td><a class="btn btn-info mr-3" th:href="@{'/quiz/'}">Back</a></td>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>