<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Edit Answer</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Answer options</div>
                <div class="card-body">
                    <div class="center-block">
                        <h1><span> Edit Answer</span></h1>
                        <form id="quizForm" th:action="${'/questions/'+answer.question.id+'/answers/create'}" th:object="${answer}"
                              method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input th:field="*{id}" type="hidden">
                                    <input th:field="*{correctlyAnsweredCounter}" type="hidden">
                                    <input th:field="*{takes}" type="hidden">
                                    <input th:field="*{percentage}" type="hidden">
                                    <input th:field="*{question}" type="hidden">
                                    <label for="answer">answer</label>
                                    <label th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"
                                           class="validation-message text-warning"></label>
                                    <input th:field="*{answer}" type="text" class="form-control" id="answer"
                                           placeholder="answer">
                                </div>
                                <div class="form-group col-md-6">
                                    <input th:field="*{id}" type="hidden">
                                    <label for="correct">correct</label>
                                    <label th:if="${#fields.hasErrors('correct')}" th:errors="*{correct}"
                                           class="validation-message text-warning"></label>
                                    <input th:field="*{correct}" type="checkbox" class="form-control" id="correct"
                                           placeholder="answer">
                                </div>

                                <div class="form-group col-md-6 float-lg-right" sec:authorize="hasAuthority('ADMIN')">
                                    <label><strong>Actions</strong></label>
                                    <div class="form-row">
                                        <button type="submit" class="btn btn-primary mr-3" text="Edit">
                                            Edit Answer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-row">
                        <td><a class="btn btn-info mr-3"
                               th:href="@{/quiz}">Back</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>