<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>QUIZ CRUD</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Quiz options</div>
                <div class="card-body">
                    <div class="center-block">
                        <h1><span> Edit Quiz</span></h1>
                        <form id="quizForm" th:action="@{/quiz/create}" th:object="${quiz}"
                              method="post">
                            <div class="">
                                <div class="form-group">
                                    <input th:field="*{id}" type="hidden">
                                    <label for="name">Name</label>
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                           class="validation-message text-warning"></label>
                                    <input th:field="*{name}" type="text" class="form-control" id="name"
                                           placeholder="Name">
                                </div>
                                <div class="form-group" sec:authorize="hasAuthority('ADMIN')">
                                    <label><strong>Actions</strong></label>
                                    <div class="form-row">
                                        <button type="submit" class="btn btn-primary mr-3 float-lg-right" text="Edit">
                                            Edit Quiz
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="form-row">
                        <form id="deleteQuiz" th:action="${'/quiz/'+quiz.id+'/delete'}" th:object="${quiz}"
                              method="post">
                            <div class="form-group" sec:authorize="hasAuthority('ADMIN')">
                                <div class="form-row">
                                    <div class="form-row">
                                        <button type="submit" class="btn btn-danger mr-3">
                                            Delete
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <a th:method="post" class="btn btn-dark mr-3"
                                           th:href="${'/quiz/'+quiz.id+'/questions/new'}">
                                            Add Question
                                        </a>
                                    </div>
                                    <div class="form-row">
                                        <td><a class="btn btn-info mr-3"
                                               th:href="@{/quiz}">Back</a></td>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>