<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Edit question</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Answer options</div>
                <div class="card-body">
                    <div class="center-block">
                        <h1><span> Edit Question</span></h1>
                        <form id="quizForm" th:action="${'/quiz/'+question.quiz.id+'/questions/create'}"
                              th:object="${question}"
                              method="post">
                            <div class="">
                                <div class="form-group">
                                    <input th:field="*{id}" type="hidden">
                                    <input th:field="*{correctlyAnsweredCounter}" type="hidden">
                                    <input th:field="*{takes}" type="hidden">
                                    <input th:field="*{percentage}" type="hidden">
                                    <input th:field="*{quiz}" type="hidden">
                                    <label for="question">Name</label>
                                    <label th:if="${#fields.hasErrors('question')}" th:errors="*{question}"
                                           class="validation-message text-warning"></label>
                                    <textarea th:field="*{question}" type="text" class="form-control" id="question"
                                              placeholder="question"></textarea>
                                </div>

                                <div class="form-group" sec:authorize="hasAuthority('ADMIN')">
                                    <label><strong>Actions</strong></label>
                                    <div class="">
                                        <button type="submit" class="btn btn-primary mr-3" text="Edit">
                                            Edit Question
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="form-row">
                        <td><a class="btn btn-info mr-3"
                               th:href="@{/quiz}">Back</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>