<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>QUIZ CRUD</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Play</div>
                <div class="card-body">
                    <div class="center-block">
                        <div class="form-group"
                             th:if="${session.quizScore.index+1}<${session.quizScore.questions.size()}">
                            <form id="playQuiz" th:action="${'/quiz/'+quizId+'/next'}" th:object="${question}"

                                  method="post">

                                <div class="form-group">
                                    <div class="form-row">
                                        <input type="hidden" th:field="*{id}">
                                        <input type="hidden" th:field="*{question}">
                                        <input type="hidden" th:field="*{percentage}">
                                        <input type="hidden" th:field="*{correctlyAnsweredCounter}">
                                        <input type="hidden" th:field="*{takes}">
                                        <!--                                    <input type="hidden" th:field="*{question}">-->
                                        <h2 type="text" th:text="*{question}" class="form-control">Question</h2>
                                    </div>
                                    <div th:each="answer, iterator: ${question.answers}"
                                         class="form-group">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].id}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].answer}">
                                        <input type="hidden"
                                               th:field="*{answers[__${iterator.index}__].correctlyAnsweredCounter}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].takes}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].correct}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].percentage}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].question}">
                                        <div class="form-row ">
                                            <div class="btn-group " data-toggle="buttons">
                                                <label class="btn btn-primary">
                                                    <input type="checkbox"
                                                           th:field="*{answers[__${iterator.index}__].userAnswer}"
                                                           value="false"
                                                           th:text="${answer.answer}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row justify-content-end mt-4">
                                    <p th:text="${session.quizScore.index+1}+'/'+${session.quizScore.questions.size()}"
                                       class="">
                                </div>
                                <div class="form-group"
                                     th:if="${session.quizScore.index+1}<${session.quizScore.questions.size()}">
                                    <div class="form-row">
                                        <div class="float-right">
                                            <button type="submit" class="btn btn-primary mr-3">
                                                Next
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-group">
                            <form th:action="${'/quiz/'+quizId+'/skip'}" th:object="${question}"
                                  th:if="${session.quizScore.index+1}<${session.quizScore.questions.size()}"
                                  th:method="post">
                                <div>
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{question}">
                                    <input type="hidden" th:field="*{percentage}">
                                    <input type="hidden" th:field="*{correctlyAnsweredCounter}">
                                    <input type="hidden" th:field="*{takes}">
                                    <div th:each="answer, iterator: ${question.answers}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].id}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].answer}">
                                        <input type="hidden"
                                               th:field="*{answers[__${iterator.index}__].correctlyAnsweredCounter}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].takes}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].correct}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].percentage}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].question}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].userAnswer}">
                                    </div>
                                </div>
                                <div class="float-right">
                                    <button type="submit" class="btn btn-dark mr-3">
                                        Skip
                                    </button>
                                </div>
                            </form>

                        </div>

                        <div class="form-group">
                            <form th:action="${'/quiz/'+quizId+'/cancel'}" th:object="${question}"
                                  th:method="post">
                                <div>
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{question}">
                                    <input type="hidden" th:field="*{percentage}">
                                    <input type="hidden" th:field="*{correctlyAnsweredCounter}">
                                    <input type="hidden" th:field="*{takes}">
                                    <div th:each="answer, iterator: ${question.answers}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].id}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].answer}">
                                        <input type="hidden"
                                               th:field="*{answers[__${iterator.index}__].correctlyAnsweredCounter}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].takes}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].correct}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].percentage}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].question}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].userAnswer}">
                                    </div>
                                </div>
                                <div class="float-right">
                                    <button type="submit" class="btn btn-danger mr-3">
                                        Cancel
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div class="form-group"
                             th:if="${session.quizScore.index+1}==${session.quizScore.questions.size()}">
                            <form id="finishQuiz" th:action="${'/quiz/'+quizId+'/finish'}" th:object="${question}"
                                  method="post">

                                <div class="form-group">
                                    <div class="form-row">
                                        <input type="hidden" th:field="*{id}">
                                        <input type="hidden" th:field="*{question}">
                                        <input type="hidden" th:field="*{percentage}">
                                        <input type="hidden" th:field="*{correctlyAnsweredCounter}">
                                        <input type="hidden" th:field="*{takes}">
<!--                                        <input type="hidden" th:field="*{question}">-->
                                        <h2 type="text" th:text="*{question}" class="form-control">Question</h2>
                                    </div>
                                    <div th:each="answer, iterator: ${question.answers}"
                                         class="form-group">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].id}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].answer}">
                                        <input type="hidden"
                                               th:field="*{answers[__${iterator.index}__].correctlyAnsweredCounter}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].takes}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].correct}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].percentage}">
                                        <input type="hidden" th:field="*{answers[__${iterator.index}__].question}">
                                        <div class="form-row ">
                                            <div class="btn-group " data-toggle="buttons">
                                                <label class="btn btn-primary">
                                                    <input type="checkbox"
                                                           th:field="*{answers[__${iterator.index}__].userAnswer}"
                                                           value="false"
                                                           th:text="${answer.answer}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row justify-content-end mt-4">
                                    <p th:text="${session.quizScore.index+1}+'/'+${session.quizScore.questions.size()}"
                                       class="">
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="">
                                            <button type="submit" class="btn btn-primary mr-3">
                                                Finish
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>