<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container mx-auto">
    <div class="form-group">
        <div th:fragment="questions" th:if="${not #lists.isEmpty(questions)}">

            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Text</th>
                    <th scope="col">Correct Counter</th>
                    <th scope="col">Takes</th>
                    <th scope="col">Percentage</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question:${questions}">
                    <td th:text="${question.question}">Text</td>
                    <td th:text="${question.correctlyAnsweredCounter}">Correct Answers</td>
                    <td th:text="${question.takes}">Takes</td>
                    <td th:text="${question.percentage}">Percentage</td>
                </tr>
                <tr><td><a th:href="@{/questions/worst}">Statistic</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-info mr-3" th:href="@{/quiz}">Back</a>

</div>
</body>
</html>