<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container mx-auto">
    <div class="form-group">
        <div th:fragment="questions" th:if="${not #lists.isEmpty(questions)}">

            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Answer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question:${questions}">
                    <td th:text="${question.questionText}">Text</td>
                    <td th:text="${question.answerPercentage}">Text</td>
                    <td th:text="${question.answerText}">Correct Answers</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-info mr-3" th:href="@{/questions}">Back</a>

</div>
</body>
</html>