<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Quiz options</div>
                <div class="card-body">
                    <div th:switch="${isQuizExists}">
                        <div th:case="true">
                            <a sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-primary" th:href="${'/quiz/'+quiz.id+'/edit'}">Edit
                                Quiz</a>
                            <a th:href="${'/quiz/'+quiz.id+'/start'}" class="btn btn-primary float-lg-right">Quiz</a>
                        </div>
                        <a th:case="false" sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-secondary" th:href="@{/quiz/create}">Create Quiz</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>