<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">

    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
    <div class="justify-content-center">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <!--<h1 class="title">Company Name</h1>-->
                <hr/>
            </div>
        </div>
        <div class="justify-content-center">
            <form class="form-horizontal" method="post" th:action="@{/registration}" th:object="${user}">
                <div class="form-group">
                    <!--<input type="hidden" th:field="*{id}"/>-->
                    <label for="firstName" class=" control-label">Your First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:field="*{firstName}"
                                   placeholder="Enter your First Name" required/>
                            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                   class="validation-message text-warning"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">Your Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:field="*{lastName}"
                                   placeholder="Enter your Last Name" required/>
                            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                   class="validation-message text-warning"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label">Your Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-ninja fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:field="*{username}"
                                   placeholder="Enter your Username" required/>
                            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                   class="validation-message text-warning"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:field="*{email}"
                                   placeholder="Enter your Email" required/>
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                   class="validation-message text-warning"></label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" th:field="*{password}"
                                   placeholder="Enter your Password" required/>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="validation-message text-warning"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
                <div class="login-register">
                    <a th:href="@{/login}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>
