<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Add Answer</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container mx-auto">
    <div class="form-group">
        <div th:fragment="users" th:if="${not #lists.isEmpty(users)}">

            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Correct Answers</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.correctAnswers}">Correct Answers</td>
                </tr>
                </tbody>
            </table>
        </div>
        <tr><a class="btn btn-primary" th:href="@{/users}">back</a></tr>
    </div>

</div>
</body>
</html>