<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Add Answer</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container mx-auto">
    <div class="form-group ">
        <div th:fragment="users" th:if="${not #lists.isEmpty(users)}">

            <table class="table table-dark table-hover ">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.firstName}">Text</td>
                    <td th:text="${user.lastName}">Correct Answers</td>
                    <td th:text="${user.username}">Takes</td>
                    <td th:text="${user.correctAnswers}">Score</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container" th:if="${isTopPlayer}">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">LEADER</div>
                    <div class="card-body">
                        <div class="center-block">
                            <h1 class=".text-success"><span > CONGRATULATIONS</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-info mr-3" th:href="@{/quiz}">Back</a>

</div>
</body>
</html>