<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: custom-header">
    <meta charset="UTF-8">
    <title>Add Answer</title>
</head>
<body>
<nav th:replace="common/fragments :: navigation"></nav>
<div class="container mx-auto">
    <div class="form-group ">
        <div th:fragment="users" th:if="${not #lists.isEmpty(users)}">

            <table class="table table-dark table-hover ">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Last Visited</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.firstName}">Text</td>
                    <td th:text="${user.lastName}">Correct Answers</td>
                    <td th:text="${user.username}">Takes</td>
                    <td th:text="${user.lastVisited}">Percentage</td>
                </tr>
                <tr>
                    <td><a th:href="@{/users/sorted}">Score</a></td>
                    <td><a th:href="@{/users/allAnswers}">all answers</a></td>
                    <td><a th:href="@{/users/allCorrectAnswers}">all correct answers</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-info mr-3" th:href="@{/quiz}">Back</a>

</div>
</body>
</html>